<html>
<head>
</head>
<body>
<h2>Add Airplane</h2>

<form action="addAirplaneAuth" method="POST">
  <input type="number" name = "id" placeholder="Airplane ID" required/> </br>
  <input type="text" name = "owner" placeholder="owned by" required/> </br>
  <input type="number" name = "seats" placeholder="Number of Seats" required/> </br>

  <input type="submit" value = Submit />
</form>
<h3>All currently owned airplanes</h3>
<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>
<table>
	<th>id</th>
	<th>numseats</th>
{%for airplane in airplanes%}
<tr>
  <td>{{airplane['airplane_id']}}</td>
  <td>{{airplane['num_seats']}}</td>
</tr>
{%endfor%}
</table>
<a href="/staffHome">Return to home</a>

</body>


</html>
