<html>

<body>

<form action="/createFlightAuth" method="POST">
  <input type="number" name = "flightnum" placeholder="Flight Number" required/> </br>
  <input type="text" name = "airline_operator" placeholder="airline operator" required/> </br>
  Departure Time </br>
  <input type=datetime-local name = "departtime" step="1" required> </br>
  Arrival Time </br>
  <input type=datetime-local name = "arrivetime" step="1" required> </br>

  <input type="text" name = "owner_airline" placeholder="owner airline" required/> </br>

  <input type="number" name = "departnum" placeholder="Departure Airport ID" required/> </br>

  <input type="number" name = "arrivenum" placeholder="Arrival Airport ID" required/> </br>

  <input type="number" name = "base_price" placeholder="Base Ticket Price" required/> </br>
  <input type="number" name = "airplanenum" placeholder="Airplane ID" required/> </br>
  <input type="text" name = "status" placeholder="status" required/> </br>
  <input type="submit" value = Submit />

</form>
<!--need to specify the airports and airplanes available to staff-->
<h3>Change Status</h3>

<form action="/changeStatus" method="POST">
  <input type="text" name = "flight_num" placeholder="Flight Number" required/> </br>
  <input type="radio" name="status" value="on-time"> on-time
  <input type="radio" name="status" value="Delayed"> delayed
  <input type="submit" value = Update />

</form>

<h3>View Ratings</h3>

<form action="/viewRatings" method="POST">
  <input type="text" name = "fli" placeholder="Flight Number" required/> </br>
  <input type="submit" value="Submit"/>
  <table>
  	<th>Rating</th>
  	<th>Comment</th>
  {% for line in ratedata %}
  	<tr>
  		<td>{{line['rating']}}</td>
  		<td>{{line['comment']}}</td>
  	</tr>
  {% endfor %}
  </table>
</form>

<h4> Future Flights </h4>
<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>
<table>
	<th>Flight Number</th>
	<th>Departure Time</th>
  <th>Status</th>

{% for line in futureFlights %}
	<tr>
		<td>{{line['flight_num']}}</td>
		<td>{{line['dept_datetime']}}</td>
    <td>{{line['status']}}</td>
	</tr>
{% endfor %}
</table>

<a href="/staffhome">Go back</a>

</body>


</html>
