<html>

<body>

<form action="/createFlightAuth" method="POST">
  <input type="number" name = "flightnum" placeholder="Flight Number" required/> </br>
  Arrival Time </br>
  <input type=datetime-local name = "arrivetime" step="1" required> </br>
  Departure Time </br>
  <input type=datetime-local name = "departtime" step="1" required> </br>
  <input type="text" name = "airline_operator" placeholder="airline operator" required/> </br>
  <input type="text" name = "owner_airline" placeholder="owner airline" required/> </br>

  <input type="number" name = "departnum" placeholder="Departure Airport ID" required/> </br>

  <input type="number" name = "arrivenum" placeholder="Arrival Airport ID" required/> </br>

  <input type="number" name = "base_price" placeholder="Base Ticket Price" required/> </br>
  <input type="number" name = "airplanenum" placeholder="Airplane ID" required/> </br>
  <input type="text" name = "status" placeholder="status" required/> </br>
  <input type="submit" value = Submit />

</form>
<!--need to specify the airports and airplanes available to staff-->

<a href="/staffHome">Go back</a>

</body>


</html>
