
<html>

<body>
<div>
  <h1>Welcome {{email}}</h1>
</div>

<a href="/customerhome/viewMyFlights">View My Flights</a> <br/>
<a href="/customerSearch">Search for Flights</a> <br/>
<a href="/customerhome/purchaseTicket">Purchase Tickets</a> <br/>
<a href="/customerhome/ratings">Give Ratings/Comment</a> <br/>
<a href="/customerhome/trackMySpending">Track My Spending</a> <br/>
<br/>

<div>
  <h3>My Flights</h3>
  <table>
    <th>Ticket ID</th>
    <th>Flight</th>
    {% for line in ticketinfo %}
    <tr>
      <td>{{line.ticket_id}}</td>
      <td>{{line.airline_name}} {{line.flight_num}}</td>
    </tr>
    {% endfor %}
  </table>
</div>
<a href="/logout"> Logout</a><br/>
</body>

</html>
