<html>

<body>

<form action="/purchaseTicketAuth" method="POST">
  <input type="number" name = "t_id" placeholder="Ticket ID" required/> </br>
  <input type="text" name = "card_type" placeholder="Card_Type: Credit or Debit" required/> </br>
  <input type="number" name = "number" placeholder="Card Number" required/> </br>

  Expiration Date </br>
  <input type=date-local name = "expiration" step="1" required> </br>

  <input type="text" name = "Cardname" placeholder="Card Name" required/> </br>
  <input type="submit" value = Submit />

<a href="/customerHome">Go back</a>

</body>


</html>
