<html>

<body>

<h1> Search Filters </h1>

<form action="/purchaseTicketAuth2" method="POST">
  {% if results %}
	<h4> Query Results To Destination Airport based on Day </h4>
	<style type="text/css">
		table, th, td{
			border: 1px solid black;
		}
	</style>
	<table>
		<th>Flight Number</th>
		<th>Airline Operator</th>
		<th>Departure Time</th>
		<th>Arrival Time</th>
		<th>Base Price</th>
		<th>Status</th>
	{% for line in results %}
		<tr>
			<td>{{line['flight_num']}}</td>
			<td>{{line['airline_operator']}}</td>
			<td>{{line['dept_datetime']}}</td>
			<td>{{line['arrive_datetime']}}</td>
			<td>{{line['base_price']}}</td>
			<td>{{line['status']}}</td>
		</tr>
	{% endfor %}
	</table>
  {% endif %}

  Please Specify Exact Flight Departure Time </br>
  <input type=datetime-local name = "departtime" step="1" required> </br>

  <input type="submit" value = Submit />

  {% if error %}
	<p class="error"><strong>Error:</strong> {{error}}</p>
  {% endif %}

<a href="/customerHome">Go back to customer home</a>

</body>


</html>
