<html>
<head>
</head>

<body>

<div>
  <h1>Welcome {{username}}</h1>
</div>

<a href="/staffhome/searchFlights">View Flights</a> <br/>
<a href="/createFlight">Create Flight</a> <br/>
<a href="/staffhome/changeFlight">Change Flight Status</a> <br/>
<a href="/addAirplane">Add Airplane</a> <br/>
<a href="/addAirport">Add Airport</a> <br/>
<a href="/staffhome/viewRatings">View Flight Ratings</a> <br/>
<a href="/viewCustomers">View Frequent Customers</a> <br/>
<a href="/staffhome/viewReports">View Reports</a> <br/>
<a href="/staffhome/viewEarnedRevenue">View Earned Revenue</a> <br/>
<a href="/staffhome/viewTopDestinations">View Top destinations</a> <br/>
<br/>
<a href="/logout"> Logout</a><br/>

</body>

</html>
