<html>
<head>
</head>
<body>

<h2>View Reports</h2>
<h4>Sales by month</h4>

<div class="chart">
    {% for line in results %}
    <h5>{{line[1]}}
      <div style="font-size: {{(line[0]+1) * 10}}px;">-</div>
    </h5>
    {% endfor %}

</div>
</br>
<form action="/viewReports/dates" method="POST">
    stats by dates</br>
    Starting Time:
    <input type="datetime-local" name="start" required/> </br>
    Ending Time:
    <input type="datetime-local" name="end" required/> </br>
    <input type="submit" value = Search />
</form>

</br>
<a href="/staffhome">return</a>

</body>


</html>
